body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}


/* Heading section */

h1 {
    font-size: 50px;
    line-height: 40px;
}

h1.red {
    color: rgb(68 53 189 / 78%);
}

#header {
    margin-bottom: 150px;
}

.flexible-area {
    display: flex;
}

.cover-head {
    border-left: 3px solid rgb(108 193 73);
    padding-left: 10px;
}

.half-side {
    width: 50%;
    padding-left: 15%;
}

.half-side img {
    width: 450px;
    height: auto;
}

.head-text {
    margin-top: 130px;
}

.head-text p {
    width: 450px;
    line-height: 30px;
    margin: 40px 0px;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-weight: 600;
}

a.explore-btn {
    color: white;
    background: #721b1b;
    padding: 10px;
    background-image: linear-gradient( 45deg, #000000, #434343);
    border-radius: 30px;
    border: 5px solid;
}


/* End Heading section */


/* Mission section */

section#mission {
    background-image: url(./images/shapes/dot3.png);
    background-repeat: no-repeat;
    background-size: 112px;
    background-position: 95% 107%;
}

#mission {
    margin-bottom: 50px;
    padding-bottom: 80px;
}

.main-div {
    width: 75%;
    margin: 0 auto;
}

.mission-card {
    margin: 25px;
    padding: 45px 28px;
    border-radius: 15px;
    padding-right: 40px;
}

.mission-card.card-1 {
    background-color: #FFF4D6;
}

.mission-card.card-2 {
    background-color: #EDF5F6;
}

.mission-card.card-3 {
    background-color: #FFEEEE;
}

.mission-card p {
    line-height: 30px;
    font-weight: 500;
    font-family: system-ui;
}

img.mission-img {
    width: 150px;
}

h1.mission-head {
    text-align: center;
}

h1.mission-head span {
    color: #6d61cb;
}


/* End Mission section */


/* Development section */

#develop-documentation {
    margin-bottom: 150px;
    background: url(./images/shapes/shape-1.png), url(./images/shapes/dot3.png) left bottom no-repeat;
    background-size: 327px, 113px;
    background-repeat: no-repeat;
    background-position: 5% 50%, 3% 100%;
}

.coding-img {
    width: 475px;
}

.develop-text-area {
    margin-left: 40px;
    padding-right: 100px;
}

.develop-text-area p {
    line-height: 37px;
    font-size: 18px;
    font-weight: 500;
    font-family: system-ui;
    margin-bottom: 60px;
}


/* End Development section */


/* Community section */

#community {
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 142px;
    background-position: 90% 97%;
    margin-bottom: 110px;
    padding-bottom: 64px;
}


/* End Community section */


/* Contact section */

#contact {
    background-color: #c9c9c9;
}

#contact h1 {
    text-align: center;
    padding-top: 55px;
    font-size: 40px;
}

.contact-form {
    margin: 80px 175px;
}

.design-input {
    width: 500px;
    height: 25px;
    border-radius: 10px;
}

textarea {
    width: 500px;
    border-radius: 10px;
}

a.explore-btn.sub-btn {
    padding: 15px 35px;
    display: block;
    width: 60px;
    margin: 20px 5px;
}

.contact-details {
    width: 100%;
    margin: 80px 125px;
}

.contact-details p {
    color: blue;
    margin-top: 50px;
}

.contact-details p span {
    color: black;
}


/* End Contact section */


/* Footer section */

section#footer {
    overflow: hidden;
    background-color: #000;
    text-align: center;
}

#footer h1 {
    color: #fff;
}

#footer h1 span {
    color: rgb(68 53 189 / 78%);
}

#footer h3 {
    color: #82A5C0;
}


/* End Footer section */