body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}


/* Heading section */

h1 {
    font-size: 50px;
    line-height: 42px;
}

h1.red {
    color: rgb(68 53 189 / 78%);
}

#header {
    margin-bottom: 150px;
}

.flexible-area {
    display: flex;
}

.cover-head {
    border-left: 3px solid rgb(108 193 73);
    padding-left: 10px;
}

.half-side {
    width: 50%;
    padding-left: 15%;
}

.half-side img {
    width: 450px;
    height: auto;
}

.head-text {
    margin-top: 130px;
}

.head-text p {
    width: 450px;
    line-height: 30px;
    margin: 40px 0px;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-weight: 600;
}

a.explore-btn {
    color: white;
    background: #721b1b;
    padding: 10px;
    background-image: linear-gradient( 45deg, #000000, #434343);
    border-radius: 30px;
    border: 5px solid;
}


/* End Heading section */


/* Mission section */

#mission {
    margin-bottom: 150px;
}

.main-div {
    width: 75%;
    margin: 0 auto;
}

.mission-card {
    margin: 25px;
    padding: 45px 28px;
    border-radius: 15px;
    padding-right: 40px;
}

.mission-card.card-1 {
    background-color: #FFF4D6;
}

.mission-card.card-2 {
    background-color: #EDF5F6;
}

.mission-card.card-3 {
    background-color: #FFEEEE;
}

.mission-card p {
    line-height: 30px;
    font-weight: 500;
    font-family: system-ui;
}

img.mission-img {
    width: 150px;
}

h1.mission-head {
    text-align: center;
}

h1.mission-head span {
    color: #6d61cb;
}


/* End Mission section */